.container{
	width: 100%;
}
html{
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;
}
body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	-webkit-font-smoothing: antialiased;
}
.input{
	display: none;
}
 #screenElements div{
    position: absolute;
    color:white;
    font-size: 30px;
    white-space: nowrap;
    z-index: 1;
    width: auto;
    text-align: left;
    cursor: pointer;
  }
#previewCanvas{
    position: absolute;
    top: 50%;
    left: 25%;
    -webkit-transform: translate(-25%, -54%);
}
.pCanvas{
    position: absolute;
    top: 50%;
    left: 25%;
    -webkit-transform: translate(-25%, -54%);
}
.pCanvas:after{
    position: absolute;
    content: attr(title);
    top:90%;
    left:20%;
    color:white;
}