.elementPanel{
  position: absolute;
  width: 150px;
  height: 700px;
  top:150px;
  left: 50%;
  -webkit-transform: translate(-50%);
  margin-left: 280px;
  float: left;
}
.elementPanel ul{
  margin:0;
  padding:0;
  text-align: left;
  background-color: #76808B;
  color: white;
  border: 8px solid #54606e;
  border-radius: 10px;
  -webkit-background-clip: padding-box;
}
.elementPanel li{
  white-space: nowrap;
  padding: 5px;
}
.elementPanel li:hover {
    background-color: #21b9b0;
}
.elementPanel label{
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
   background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0);
}
.elementPanel h3{
  white-space: nowrap;
    cursor: pointer;
}
#clockList,#weatherList,#systemList {
  height: 150px;
  overflow: auto;
}