.elementPanel{
	position: absolute;
	width: 150px;
	height: 700px;
	top:150px;
	left: 50%;
	-webkit-transform: translate(-50%);
	margin-left: 280px;
	float: left;
}
.elementPanel div{
  margin:0;
  padding:0;
  text-align: left;
  background-color: rgba(0,0,0,0); /*76808B*/
  color: white;
   list-style: none outside none;
  -webkit-background-clip: padding-box;
}
.elementPanel div:focus {
    outline: none;
}
.elementPanel li:focus{
    outline: none;
}
.elementPanel li{
	white-space: nowrap;
    background-color: #54606e;
    border-color: #54606e;
    border-radius: 45px;
    border-width: 3px;
    border-style: solid;
	padding: 5px;
    text-align: center;
    position: relative;
    margin-bottom: 5px;
}
.elementPanel a:focus {
    outline: none;
}
.elementPanel label{
    -webkit-transition-property: font-size;
    -webkit-transition-duration: 0.15s;
    cursor: pointer;
}
label {
    outline: none;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0);
}
.elementPanel h3{
	white-space: nowrap;
    cursor: pointer;
}
#clockList,#weatherList,#systemList {
	height: 190px;
	overflow-y: hidden
}