.elementPanel{
	position: absolute;
	width: 300px;
    height: 500px;
    top: 20%;
	left: 55%;
	-webkit-transform: translate(-50%)translateZ(0px);
    transform: translate(-50%)translateZ(0px);
    margin-left: 280px;
}
.elementPanel div{
  margin:0;
  padding:0;
  text-align: left;
  background-color: rgba(0,0,0,0); /*76808B*/
  color: white;
   list-style: none outside none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.elementPanel div:focus {
    outline: none;
}
.elementPanel li:focus{
    outline: none;
}
.elementPanel li{
	white-space: nowrap;
    background-color: #54606e;
    border-color: #54606e;
    border-radius: 45px;
    border-width: 3px;
    border-style: solid;
	padding: 5px;
    text-align: center;
    position: relative;
    margin-bottom: 5px;
}
.elementPanel a:focus {
    outline: none;
}
.elementPanel label{
    -webkit-transition-property: font-size;
    transition-property: font-size;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    cursor: pointer;
}
.elementPanelPreview a::before {
    bottom: 34px;
    left: 0;
    position: absolute;
    content: attr(title);
    color: white;
    font-size: 9px;
    z-index: 50;
    width: 150;
    text-align: center;
    display: none;
}
.slick-arrow {
    position: absolute;
    left: -40px;
    cursor: pointer;
    position: absolute;
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 25px;
    color:#ffffff;
    font-size: 18px;
    background-color: #21b9b0;
    padding: 5px 6px 5px 6px;
    border: solid rgba(0,0,0,0.3) 5px;
    text-decoration: none;
    outline-width: 4px;
    outline-color: rgba(0,0,0,0);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
	z-index: 50;
}
.slick-arrow button:hover {
    background-color: #54606e;
    text-decoration: none;
}
.slickPrev {
    top: 0px;
}
.slickNext {
    top: 146px;
}
.slick-list {
    height: 51px!important;
}
label {
    outline: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #54606e;
}
::-webkit-scrollbar-thumb {
    background-color: #21b9b0;
    border-radius: 99px;
}
.elementPanel h3{
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    width: 210px;
    color: white;
    background-color: #54606e;
    border-color: #54606e;
    border-width: 12px;
    border-style: solid;
    border-radius: 30px;
    position: relative;
}
.elementPanel h3:hover{
    background-color: #21b9b0;
    border-color: #21b9b0;
}
.categoryTitle {
	cursor: pointer;
}
.subCategory {
	cursor: pointer;
	position: absolute;
	left: 150px;
	/*top: -31px;*/
	top:50%;
	-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 0px;
	list-style: none outside none;
    /*height: 240px!important;
    overflow: scroll;*/ /*could be scrolling list*/
}
.subCategory li {
	height: 10px;
	font-size: 17px;
    line-height: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.subCategory li:hover{
    box-shadow: 0px 0px 0px 2px #21b9b0;
    -webkit-box-shadow: 0px 0px 0px 2px #21b9b0;
    box-shadow: 0px 0px 0px 2px #21b9b0;
}
#textelementsSubCategory li:first-child, #squaresSubCategory li:first-child{ /*fix textElements */
    margin-top:80px;
}
#circlesSubCategory li:first-child{ /*make where circles top doesn't clip*/
    margin-top: 10px;
}

.slick-list{
    height: 190px!important; /*force slick to be bigger to make up for sub category with 9 items*/
    width: 360px!important;
}

.slick-slider{ /*defined width to stop page wanting to scroll horizontally*/
    width: 370px!important;
}
#clockList,#weatherList,#systemList,#miscList {
    left: 50px;
    width: 500px;
	height: 190px;
	overflow: visible;
	display: inline;
}
#dummyOne,#dummyTwo{  /*clean up slick dummy divs*/
    opacity: 0!important;
}
#clockList li, #weatherList li, #systemList li, #miscList li{
    width: 150px!important;
}

/* iWidget Panel */
.widgetPanel{
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    width: 90%;
    height: 200px;
    background-color: rgba(0,0,0,0.6);
    z-index: 999;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    -webkit-backdrop-filter:blur(10px);
    z-index: 2;
    border-radius: 5px;
}

.divimg {
    margin: 5px;
    display: inline-block;
    width: 180px;
}

.divimg img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#widgetlist::-webkit-scrollbar-thumb {
   /* background-color: transparent;
    -webkit-background-clip: padding-box;*/
       border-radius: 0px!important;
    background-color: black;
}

#widgetlist::-webkit-scrollbar {
    width: 0px;
    margin-left: 0px;
    border-radius: 0px!important;
    display: none;
}
