@font-face{
	font-family:'abeatbykai';
	src:url(fonts/user/abeatbykai.otf);
}
@font-face{
	font-family:'aileronbold';
	src:url(fonts/user/aileronbold.otf);
}
@font-face{
	font-family:'aileronlight';
	src:url(fonts/user/aileronlight.otf);
}
@font-face{
	font-family:'aileronthin';
	src:url(fonts/user/aileronthin.otf);
}
@font-face{
	font-family:'aileronthick';
	src:url(fonts/user/aileronthick.otf);
}
@font-face{
	font-family:'aileronultra';
	src:url(fonts/user/aileronultra.otf);
}
@font-face{
	font-family:'aileronheavy';
	src:url(fonts/user/aileronheavy.otf);
}
@font-face{
	font-family:'ailerons';
	src:url(fonts/user/ailerons.otf);
}
@font-face{
	font-family:'alpine';
	src:url(fonts/user/alpine.otf);
}
@font-face{
	font-family:'android';
	src:url(fonts/user/android.otf);
}
@font-face{
	font-family:'anders';
	src:url(fonts/user/anders.otf);
}
@font-face{
	font-family:'aventura';
	src:url(fonts/user/aventura.otf);
}
@font-face{
	font-family:'azedobold';
	src:url(fonts/user/azedobold.otf);
}
@font-face{
	font-family:'azedolight';
	src:url(fonts/user/azedolight.otf);
}
@font-face{
	font-family:'bikoblack';
	src:url(fonts/user/bikoblack.otf);
}
@font-face{
	font-family:'bikobold';
	src:url(fonts/user/bikobold.otf);
}
@font-face{
	font-family:'bikoregular';
	src:url(fonts/user/bikoregular.otf);
}
@font-face{
	font-family:'bebasbold';
	src:url(fonts/user/bebasbold.otf);
}
@font-face{
	font-family:'bebaslight';
	src:url(fonts/user/bebaslight.otf);
}
@font-face{
	font-family:'bebasneue';
	src:url(fonts/user/bebasneue.otf);
}
@font-face{
	font-family:'bebasneueregular';
	src:url(fonts/user/bebasneueregular.otf);
}
@font-face{
	font-family:'building';
	src:url(fonts/user/building.otf);
}
@font-face{
	font-family:'canter';
	src:url(fonts/user/canter.otf);
}
@font-face{
	font-family:'clemente';
	src:url(fonts/user/clemente.otf);
}
@font-face{
	font-family:'codebold';
	src:url(fonts/user/codebold.otf);
}
@font-face{
	font-family:'codelight';
	src:url(fonts/user/codelight.otf);
}
@font-face{
	font-family:'dense';
	src:url(fonts/user/dense.otf);
}
@font-face{
	font-family:'din';
	src:url(fonts/user/din.otf);
}
@font-face{
	font-family:'fabfelt';
	src:url(fonts/user/fabfelt.otf);
}
@font-face{
	font-family:'futura';
	src:url(fonts/user/futura.otf);
}
@font-face{
	font-family:'gasaltbold';
	src:url(fonts/user/gasaltbold.otf);
}
@font-face{
	font-family:'gasaltthin';
	src:url(fonts/user/gasaltthin.otf);
}
@font-face{
	font-family:'gasaltreg';
	src:url(fonts/user/gasaltreg.otf);
}
@font-face{
	font-family:'higher';
	src:url(fonts/user/higher.otf);
}
@font-face{
	font-family:'huxlee';
	src:url(fonts/user/huxlee.otf);
}
@font-face{
	font-family:'ikaros';
	src:url(fonts/user/ikaros.otf);
}
@font-face{
	font-family:'infinity';
	src:url(fonts/user/infinity.otf);
}
@font-face{
	font-family:'kanji';
	src:url(fonts/user/kanji.otf);
}
@font-face{
	font-family:'kaneda';
	src:url(fonts/user/kaneda.otf);
}
@font-face{
	font-family:'lg';
	src:url(fonts/user/lg.otf);
}
@font-face{
	font-family:'makhina';
	src:url(fonts/user/makhina.otf);
}
@font-face{
	font-family:'manbow';
	src:url(fonts/user/manbow.otf);
}
@font-face{
	font-family:'manifesto';
	src:url(fonts/user/manifesto.otf);
}
@font-face{
	font-family:'moonlight';
	src:url(fonts/user/moonlight.otf);
}
@font-face{
	font-family:'moonbold';
	src:url(fonts/user/moonbold.otf);
}
@font-face{
	font-family:'nexabold';
	src:url(fonts/user/nexabold.otf);
}
@font-face{
	font-family:'nexabolder';
	src:url(fonts/user/nexabolder.otf);
}
@font-face{
	font-family:'nexalight';
	src:url(fonts/user/nexalight.otf);
}
@font-face{
	font-family:'penelope';
	src:url(fonts/user/penelope.otf);
}
@font-face{
	font-family:'poplar';
	src:url(fonts/user/poplar.otf);
}
@font-face{
	font-family:'reckoner';
	src:url(fonts/user/reckoner.otf);
}
@font-face{
	font-family:'robotobold';
	src:url(fonts/user/robotobold.otf);
}
@font-face{
	font-family:'robotolight';
	src:url(fonts/user/robotolight.otf);
}
@font-face{
	font-family:'robotoregular';
	src:url(fonts/user/robotoregular.otf);
}
@font-face{
	font-family:'samster';
	src:url(fonts/user/samster.otf);
}
@font-face{
	font-family:'samsunglight';
	src:url(fonts/user/samsunglight.otf);
}
@font-face{
	font-family:'samsungregular';
	src:url(fonts/user/samsungregular.otf);
}
@font-face{
	font-family:'sanfranlight';
	src:url(fonts/user/sanfranlight.otf);
}
@font-face{
	font-family:'sanfranthin';
	src:url(fonts/user/sanfranthin.otf);
}
@font-face{
	font-family:'sanfranreg';
	src:url(fonts/user/sanfranreg.otf);
}
@font-face{
	font-family:'sanfranbold';
	src:url(fonts/user/sanfranbold.otf);
}
@font-face{
	font-family:'sanfranheavy';
	src:url(fonts/user/sanfranheavy.otf);
}
@font-face{
	font-family:'streamster';
	src:url(fonts/user/streamster.otf);
}
@font-face{
	font-family:'signer';
	src:url(fonts/user/signer.otf);
}
@font-face{
	font-family:'scriptina';
	src:url(fonts/user/scriptina.otf);
}
@font-face{
	font-family:'talldark';
	src:url(fonts/user/talldark.otf);
}
@font-face{
	font-family:'timber';
	src:url(fonts/user/timber.otf);
}
@font-face{
	font-family:'tiza';
	src:url(fonts/user/tiza.otf);
}
@font-face{
	font-family:'tresdias';
	src:url(fonts/user/tresdias.otf);
}
