.phone{
	position: absolute;
	width: 350px;
	height: 700px;
	background-color: #252a30;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 20px;
}
.phone:after{
	position: absolute;
	top:635px;
	content: '';
	width: 50px;
	height: 50px;
	background-color: #252a30;
	border:1px solid #505050;
	border-radius: 100%;
	left: 50%;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}
.phone:before{
	position: absolute;
	top:23px;
	content: '';
	width: 70px;
	height: 5px;
	background-color: #252a30;
	border:1px solid #505050;
	border-radius: 10px;
	left: 50%;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}

.screen,.screenoverlay{
	position: absolute;
	left:15px;
	top:50px;
	width: 320px;
	height: 568px;
	background-color: #494949;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.screenoverlay{
	left:0;
	top:0;
	pointer-events:none;
	background-color: transparent;
	outline: 1px solid #323232;
}
.canvas {
	pointer-events: none;
	position: absolute;
	top: 0px;
}
.blur {
	width: 320px!important;
	height: 568px!important;
}
.miniBlurCanvas {
	width: 150px!important;
	height:266.25px!important;
}
.svg{
	width: 320px;
	height: 568px;
	position: absolute;
	margin-left: 300px;
	opacity: 0;
}
