/* Colors Scheme */

/* Standard: 21b9b0; -light */
/* Selected: 54606e; -dark */
/* Option: 252a30; -darker */
/* Error: d44b29; -red */

.toolPanel{
	position: absolute;
	width: 550px;
	height: 560px;
	top:50%;
	left:50%;
	-webkit-transform: translate(-82%, -50%);
	margin-left: -280px;
}
.toolPanel::after {
    content: attr(title);
    color: white;
    display: block;
    position: fixed;
    height: auto;
    width: auto;
    white-space: nowrap;
    right: 40px;
    top: -65px;
    font-size: 26px;
    text-align: right;
    background-color: #54606e;
    border-style: solid;
    border-width: 5px;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding:0 10px 0 10px;
    border-color: #54606e;
}
#icons::-webkit-scrollbar-track {
    background-color: transparent;
}
#icons::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 99px;
}
#icons::-webkit-scrollbar {
    width: 10px;
    margin-left: -20px;
}
.toolPanel ul {
    overflow-y: scroll;
    height: 560px;
    top: -36px;
    position: absolute;
}
.toolPanel li{
	text-align: center;
	padding: 5px;
	width: 40px;
	line-height: 40px;
	border: 8px solid rgba(0,0,0,0.3);
	font-size: 25px;
	border-radius: 100%;
	margin-top: 2px;
	background-color: #21b9b0;
	color:white;
	-webkit-background-clip: padding-box;
    -webkit-transition-property: transform;
    -webkit-transition-duration: 100ms;
    transition-property: transform;
    transition-duration: 100ms;
}
.toolPanel li:hover{
	-webkit-transform:translateX(-7px);
	background-color: #54606e;
}
.toolPanel a{
    margin-left: 400px;
	text-decoration: none;
	color:black;
}
.toolPanel input {
	height: 45px;
	width: 120px;
	right: 58px;
	font-size: 25px;
	background-color: #54606e;
	color: white;
	position: absolute;
	text-align: center;
	border-color: #54606e;
	border-radius: 45px;
	border-width: 3px;
    border-top-width: 5px;
	border-style: solid;
	outline-color: rgba(0,0,0,0);
	font-weight: bold;
    -webkit-transition-property: width, font-size;
    -webkit-transition-duration: 200ms;
    transition-property: width, font-size;
    transition-duration: 200ms;
}
.toolPanel input:hover {
	font-size: 28px;
}
.toolPanel input::-webkit-inner-spin-button,
.toolPanel input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.toolPanel input:focus{
    outline: 0;
}
.toolPanel label {
	color: #54606e;
	position: absolute;
	font-size: 23px;
}
.sizeControl {
	position: absolute;
	width: 17px;
	height: 17px;
	background-color: white!important;
	z-index: 2;
}
.sizeControl a {
	bottom: -7px;
	right: -4px;
	color: #21b9b0;
	font-size: 30px;
	position: absolute;
}
.options div {
    position: absolute;
    background-color: #54606e;
    border-width: 5px 10px 5px 10px; /*top | right | bottom | left*/
    border-style: solid;
    border-radius: 30px;
    border-color: #54606e;
    cursor: pointer;
}
.options div:hover {
    background-color: #21b9b0;
    border-color: #21b9b0;
}
.options div+div{
    border-radius: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
}
.firstOption {
    border-radius: 30px 0px 0px 30px!important; /* top-left | top-right | bottom-right | bottom-left */
    border-right-width: 10px!important;
    border-left-width: 10px!important;
}
.lastOption {
    border-radius: 0px 30px 30px 0px!important; /* top-left | top-right | bottom-right | bottom-left */
    border-right-width: 10px!important;
    border-left-width: 10px!important;
}
.options label{
    color: white;
    cursor: pointer;
}
.inputLabel::before {
    color: white;
    bottom: 19px;
    right: -12px;
    content: attr(data-title);
    position: absolute;
    font-size: 11px;
    width: 120px;
    text-align: center;
}
.fontSizePostLabel::after {
	height: 31px;
	right: -13px;
	top: -8px;
	color: rgba(0,0,0,0);
	position: absolute;
	z-index: -1;
	content: "testasaa";
	border-color: #54606e;
	border-style: solid;
	border-width: 5px;
	border-right-width: 10px;
	border-radius: 5px;
}

/*Thanks to this button generator: http://css3buttongenerator.com/ */
.toolPanel button {
	cursor: pointer;
	position: absolute;
	-webkit-border-radius: 3;
  	-moz-border-radius: 3;
  	border-radius: 3px;
	color:#252a30;
  	font-size: 18px;
  	background-color: #21b9b0;
  	padding: 5px 6px 5px 6px;
  	border: solid rgba(0,0,0,0.3) 2px;
  	text-decoration: none;
  	outline-width: 4px;
  	outline-color: rgba(0,0,0,0.2);
  	-webkit-background-clip: padding-box;
}
.toolPanel button:hover {
  	background-color: #54606e;
  	text-decoration: none;
}
.yesClear {
	right: 160px;
  	top: 374px;
    color: white!important;
}
.noClear {
  	right: 110px;
  	top: 374px;
    color: white!important;
}
.clearLabel {
  	width: 311px;
    right: 60px;
  	top: 370px;
    text-align: left;
  	font-weight: bold;
  	color: white!important;
    background-color: #54606e;
    border-style: solid;
    border-color: #54606e;
    border-width: 8px;
    border-radius: 30px;
}
.scrollImg{
  position: absolute;
  width: 50px;
  bottom: 10px;
  top:50%;
  left:50%;
  -webkit-transform: translate(-15%, 815%);
  margin-left: -280px;
  display: none;

}