.toolPanel{
	position: relative;
	width: 80px;
	height: 700px;
	top:150px;
	left: 50%;
	-webkit-transform: translate(-50%);
	margin-left: -280px;
}
.toolPanel li{
	text-align: center;
	padding: 5px;
	width: 40px;
	line-height: 40px;
	border: 1px solid black;
	font-size: 35px;
	border-radius: 2px;
	margin-top: 2px;
}
.toolPanel a{
	text-decoration: none;
	color:black;
}
.sizingInput {
	height: 51.6px;
	font-size: 25px;
	border-radius: 3px;
	position: absolute;
	top: 2px;
	left: -60px;
	text-align: center;
	background-color: rgba(0,0,0,0);
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	outline-width: 4px;
	outline-color: rgba(0,0,0,0.2);
}