.leftTooltip{
	display: inline;
	position: relative;
}
.leftTooltip:hover:after{
	top:-6px;
	right: 50px;
	width: auto;
	text-align: right;
	color: white;
	background-color: #54606e;
	content: attr(title);
	position: absolute;
	z-index: -2;
	padding-left: 10px;
	white-space: nowrap;
	pointer-events:none;
	border-style: solid;
	border-width: 5px;
	border-right-width: 30px;
	border-left-width: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-radius: 30px;
	border-color: #54606e;
	text-align: right;
}
#shadowDiv a:hover:after{ /* special case when using .svg instead of font-awesome */
	top:-30px;
}
.Tooltip{
	display: inline;
	position: relative;
}
.Tooltip:hover:after{
	top:-8px;
	left:0px;
	width: 150px;
	text-align: right;
	color: #000;
	content: attr(title);
	position: absolute;
	z-index: 98;
	white-space: nowrap;
	pointer-events:none;
}