/* Colors Scheme */

/* Standard: 21b9b0; -light */
/* Selected: 54606e; -dark */
/* Option: 252a30; -darker */
/* Error: d44b29; -red */

.toolPanel{
	position: relative;
	width: 80px;
	height: 700px;
	top:150px;
	left: 50%;
	-webkit-transform: translate(-50%);
	margin-left: -280px;
}
.toolPanel li{
	text-align: center;
	padding: 5px;
	width: 40px;
	line-height: 40px;
	border: 8px solid rgba(0,0,0,0.3);
	font-size: 25px;
	border-radius: 100%;
	margin-top: 2px;
	background-color: #21b9b0;
	color:white;
	-webkit-background-clip: padding-box;
}
.toolPanel li:hover{
	-webkit-transform:translateX(-7px);
	background-color: #54606e;
}
.toolPanel a{
	text-decoration: none;
	color:black;
}
.toolPanel input {
	height: 52px;
	font-size: 25px;
	border-radius: 3px;
	position: absolute;
	text-align: center;
	background-color: rgba(0,0,0,0);
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	outline-width: 4px;
	outline-color: rgba(0,0,0,0.2);
	width:100%;
	right: 43px;
}
.fontSizeInput {
	top: 2px;
}
.widthInput {
	top: 55.6px;
}

/*Thanks to this button generator: http://css3buttongenerator.com/ */
.toolPanel button {
	cursor: pointer;
	position: absolute;
	-webkit-border-radius: 3;
  	-moz-border-radius: 3;
  	border-radius: 3px;
	color:#252a30;
  	font-size: 18px;
  	background-color: #21b9b0;
  	padding: 5px 6px 5px 6px;
  	border: solid rgba(0,0,0,0.3) 2px;
  	text-decoration: none;
  	outline-width: 4px;
  	outline-color: rgba(0,0,0,0.2);
  	-webkit-background-clip: padding-box;
}
.toolPanel button:hover {
  	background-color: #54606e;
  	text-decoration: none;
}
.yesClear {
	right: 100px;
  	top: 288px;
}
.noClear {
  	right: 50px;
  	top: 288px;
}
.clearLabel {
	position: absolute;
  	right: 150px;
  	width: 130px;
  	top: 295.5px;
  	font-size: 18px;
  	font-weight: bold;
  	color:#252a30;
}