body{
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
}
p{
  margin: 0;
  padding: 0;
}
.container, .screenOverlay{
  position: absolute;
  width: 320px;
  height: 568px;
}
.container, .screenOverlay{
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-clip: padding-box;
}
.screenOverlay{
  pointer-events:none;
}
#screenElements div{
  position: absolute;
  color:white;
  font-size: 30px;
  white-space: nowrap;
  z-index: 1;
  width: auto;
  text-align: left;
}