/* Colors Scheme */
/* Standard: 21b9b0; -light */
/* Selected: 54606e; -dark */
/* Option: 252a30; -darker */
/* Error: d44b29; -red */

body {
    background-color:#21b9b0;
    color: white;
    text-align: center;
    outline: none;
}

li {
    list-style: none;
}

p {
    font-size: 1.2em;
}

label {
    font-size: 1.3em
}

a {
    text-decoration: none;
    position: absolute;
    color: white;
    background-color: #54606e;
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
}
a:hover {
    background-color: #252a30;
}

.membersite_content {
    width: 65%;
    top: 34%;
    left: 17.5%;
    position: absolute;
    background-color: rgba(255,255,255,0.2);
    padding-bottom: 47px;
    border-radius: 25px;
}

#login {
    top: 20px;
    right: 20px;
    font-family: Arial, sans-serif;
}

select {
    background-color: #54606e;
    color: white;
    outline: none;
    border-color: #252a30;
    border-radius: 4px;
    text-align: center;
    font-size: 1.2em;
}

input[type="submit"] {
    text-align: center;
    width: 33%;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid transparent;
    background-color: #54606e;
    color: white;
    cursor: pointer;
    font-size: 1.4em;
}
input[type="submit"]:hover {
    background-color: #252a30;
}
