/* Colors Scheme */
/* Standard: 21b9b0; -light */
/* Selected: 54606e; -dark */
/* Option: 252a30; -darker */
/* Error: d44b29; -red */

body {
    background-color:#21b9b0;
    color: white;
    text-align: center;
    outline: none;
}
input[type="submit"] {
    width: 60px;
    text-align: center;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: #54606e;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    outline: none;
    z-index: 2;
    transition: all 50ms ease-in-out;
    -webkit-transition: all 50ms ease-in-out;
    padding: 5px 0px 5px 0px;
}
input[type="submit"]:hover {
    background-color: #252a30;
    font-size: 0.9em;
}
a {
    text-decoration: none;
    color: white;
    background-color: #54606e;
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
}
a:hover {
    background-color: #252a30;
}
#login {
    top: 20%;
    left:50%;
    -webkit-transform:translateX(-50%);
    font-family: Arial, sans-serif;
    position: absolute;
}

label {
    font-family: helvetica!important;
    font-size: 1.3em;
    font-weight: 100!important;
    color:#252a30!important;
}

#fg_membersite input[type="text"],#fg_membersite textarea,
#fg_membersite input[type="password"]
{
  font-family : Arial, Verdana, sans-serif;
  font-size: 0.8em;
  line-height:140%;
  color : #000;
  padding : 3px;
  border : 1px solid #252a30;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

}