.container{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html{
    background: url(bg.jpg) no-repeat center center fixed ;
    background-size: cover;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	-webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
footer img{
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-radius: 100%;
}
footer span{
  position: absolute;
  width: 99%;
  text-align: center;
  bottom: 5px;
  color:white;
  font-size: 10px;
}
footer a {
  color: white;
}
::selection {
  background: rgba(0,0,0,0.3); /* was there a reason this was transparent? */
}
#saveForm {
  position: relative;
  background-color:rgba(33,185,176,0.6);
  width:20%;
  margin:15% auto;
  border-radius:0.4em;
  overflow:hidden;
  position:relative;
  padding: 10px;
  z-index: 999;
  opacity: 1;
}
#saveForm h3{
  width: 100%;
  text-align: center;
  color:white;
}
#saveForm label:not(.errorlabel){
  width: 100%;
  text-align: center;
  margin-top:10px;
  color:white;
  display:block;
  padding-bottom:9px;
  opacity: 0.5
}
#saveForm input:not(.fsubmit){
  position: relative;
  left:50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  border-radius: 20px;
  padding: 5px;
  border:1px solid transparent;
}
#saveForm input:focus{
    outline: 0;
}
.fsubmit{
  text-align: center;
  width: 25%;
  display: block;
  margin: 10px auto;
  border-radius: 20px;
  padding: 5px;
  border:1px solid transparent;
  background-color: #54606e;
  color: white;
}
.fsubmit:hover{
  background-color: #252a30;
  cursor: pointer;
}
.errorlabel{
  color: white;
  font-size: 12px;
  display: none;
}
.input{
	display: none;
}
#menuTitle {

}
#copyright{
  position: absolute;
  bottom: 2px;
}
#version{
  position: absolute;
  left:5px;
  bottom: 2px;
  font-size: 10px;
}
#version:hover{
  cursor: pointer;
}
 #screenElements div{
    position: absolute;
    color:white;
    font-size: 30px;
    top:248px;
    left:130px;
    white-space: nowrap;
    z-index: 1;
    width: auto;
    text-align: left;
    cursor: pointer;
  }
#previewCanvas{
    position: absolute;
    top: 50%;
    left: 25%;
    -webkit-transform: translate(-25%, -54%);
    transform: translate(-25%, -54%);
}
.pCanvas{
    position: absolute;
    top: 50%;
    left: 25%;
    -webkit-transform: translate(-25%, -54%);
    transform: translate(-25%, -54%);
}
.pCanvas:after{
    position: absolute;
    content: attr(title);
    top:90%;
    left:20%;
    color:white;
}
.icon{
    pointer-events:none;
}
.iconList{
    position: absolute;
    width: 320px;
    height: 568px;
    top:0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -52.5%);
    transform: translate(-50%, -52.5%);
    background-color: #54606e;
    overflow-y: scroll;
    z-index: 1;
}
.iconList::-webkit-scrollbar-track {
    background-color: transparent;
}
.iconList::-webkit-scrollbar-thumb {
    background-color: #21b9b0;
    border-radius: 99px;
}
.iconList::-webkit-scrollbar {
    width: 5px;
    margin-left: -20px;
}
.iconList img{
    width: 90px;
    margin-left: 13px;
}
.iconList img:hover{
  cursor: pointer;
}


/*loader*/

.loader {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: absolute;
  top:30%;
  left:45%;

  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
  display: none;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.087em -0.825em 0 -0.42em #ffffff, -0.173em -0.812em 0 -0.44em #ffffff, -0.256em -0.789em 0 -0.46em #ffffff, -0.297em -0.775em 0 -0.477em #ffffff;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.338em -0.758em 0 -0.42em #ffffff, -0.555em -0.617em 0 -0.44em #ffffff, -0.671em -0.488em 0 -0.46em #ffffff, -0.749em -0.34em 0 -0.477em #ffffff;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.377em -0.74em 0 -0.42em #ffffff, -0.645em -0.522em 0 -0.44em #ffffff, -0.775em -0.297em 0 -0.46em #ffffff, -0.82em -0.09em 0 -0.477em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.087em -0.825em 0 -0.42em #ffffff, -0.173em -0.812em 0 -0.44em #ffffff, -0.256em -0.789em 0 -0.46em #ffffff, -0.297em -0.775em 0 -0.477em #ffffff;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.338em -0.758em 0 -0.42em #ffffff, -0.555em -0.617em 0 -0.44em #ffffff, -0.671em -0.488em 0 -0.46em #ffffff, -0.749em -0.34em 0 -0.477em #ffffff;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.377em -0.74em 0 -0.42em #ffffff, -0.645em -0.522em 0 -0.44em #ffffff, -0.775em -0.297em 0 -0.46em #ffffff, -0.82em -0.09em 0 -0.477em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
}


.select-menu {
  position: absolute;
  width: 60px;
  height: 60px;
  cursor: pointer;
  right: 20px;
  top:40px;
  -webkit-transform:scale(0.5);
  transform:scale(0.5);
  background-color: #21b9b0;
  border-radius: 100%;
  border: 15px solid #21b9b0;
}
.select {
  position: absolute;
  background: white;
  margin-top: 25px;
  width: 100%;
  height: 5px;
  opacity: 1;
}
.select::before {
  position: absolute;
  background: white;
  width: 60px;
  height: 5px;
  top: 20px;
  content: "";
  display: block;
}
.select::after {
  position: absolute;
  background: white;
  width: 60px;
  height: 5px;
  bottom: 19px;
  content: "";
  display: block;
}
.select::after, .select::before, .select {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.select-menu.menu-on .select::after{
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
  bottom: 0px;
}
.select-menu.menu-on .select::before{
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
  top: 0px;
}
.select-menu.menu-on .select{
 background: rgba(111,111,111,.0);
}
.menuUL {
  width: 100px;
  position: absolute;
  right:105px;
  top:50px;
  padding-left: 0;
}
.menuUL li {
  position: relative;
  list-style: none;
  padding-bottom: 15px;
  padding: 4px;
  background-color: #21b9b0;
  margin-top: 10px;
  border-radius: 999px;
  text-align: center;
}
.menuUL li a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 20px;
}
#gridtips:after{
  position: absolute;
  left:74px;
  top:-4px;
  width: 24px;
  height: 24px;
  content:attr(title);
  padding:5px;
  background-color:#54606e;
  border-radius: 100%;
  border:3px solid #21b9b0;
}
#snaptips:after{
  position: absolute;
  left:74px;
  top:-4px;
  width: 24px;
  height: 24px;
  content:attr(title);
  padding:5px;
  background-color:#54606e;
  border-radius: 100%;
  border:3px solid #21b9b0;
}

.menulist {
  display: none;
  text-align: center;
  z-index: 1000;
}
.grids{
  width: 320px;
  height: 568px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  margin-top: -16px;
  pointer-events:none;
}
.gridlines {
  display: none;
  position:absolute;
  background-color:rgba(255,255,255,0.1);
}

.dLine {
    outline: 1px solid transparent;
    height: 0;
    position: absolute;
    width: 0;
}
#wallSelector{
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 320px;
  height: 20%;
  background-color:  #54606e;
  z-index: 99999;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 30px 10px rgba(0,0,0,0.6);
}
#wallSelector span{
  position: absolute;
  margin-top: 3px;
  width: 100%;
  text-align: center;
  color: white;
}
#wallSelector li{
  position: relative;
  top:50%;
  left:50%;
  -webkit-transform: translate(-205%, -50%);
  transform: translate(-205%, -50%);
  width: 60px;
  height: 60px;
  background-color: #21b9b0;
  border-radius: 99px;
  text-align: center;
  list-style-type: none;
  display: inline-block;
  line-height: 60px;
  margin-left: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  border:6px solid rgba(0,0,0,0.2);
  -webkit-background-clip: padding-box;
}
#wallSelector li:hover{
  background-color: #54606e;
}
#wallSelector li:after{
  position: absolute;
  top:45px;
  left:-6px;
  padding: 5px;
  font-size: 15px;
  content: attr(title);
  pointer-events:none;
}
#fList:hover{
  cursor: pointer;
}
