html{

}

#roundMenu{
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: rgba(255,255,255,0.2);
	border-radius:999px;
	border:2px solid rgba(255,255,255,0.3);
	bottom: 90px;
	right:20px;
}

#bottomMenu{
	position: absolute;
	width: 100%;
	height: 200px;
	bottom:0;
	left:0;
	background-color: rgba(0,0,0,0.2);
	display: block;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-backdrop-filter: blur(5px);
	z-index: 999999999!important;
	background-color: red;
}

.inputContainer{
	position: absolute;
	top:23px;
	right:140px;
	width: 80px;
	height: 60px;
}
.inputContainer2{
	position: absolute;
	top:23px;
	right:20px;
	width: 80px;
	height: 60px;
}
.manualInput{
	position: absolute;
	top:0;
	left:24px;
	width: 30px;
	text-align: center;
	border:0px solid transparent;
	border-radius: 2px;
}
.inButton{
	position: absolute;
}
.incs,.decs{
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: rgba(255,255,255,1);
	border-radius: 999px;
	text-align: center;
	line-height: 20px;
	color:black;
}
.incs{
	right: 0;
}
.decs{
	left:0;
}
.topLabel{
	position: absolute;
	top:-14px;
	right:32px;
	font-size: 12px;
	text-transform: capitalize;
}
.leftLabel{
	top:-14px;
	right:30px;
	position: absolute;
	font-size: 12px;
	text-transform: capitalize;
}
/*#bottomMenu::-webkit-scrollbar-track {
    background-color: transparent;
}*/
#bottomMenu::-webkit-scrollbar-thumb {
   /* background-color: transparent;
    -webkit-background-clip: padding-box;*/
       border-radius: 0px!important;
    background-color: black;
}

#bottomMenu::-webkit-scrollbar {
    width: 0px;
    margin-left: 0px;
    border-radius: 0px!important;
    background-color: black;
}
.openButtons{
	position: absolute;
	top:20px;
	right:100px;
	width: 150px;
	background-color: white;
	color:black;
	border-radius: 5px;
		text-align: center;
}

.triContain{
	position: absolute;
	display: inline-block;
	right:100px;
	top:18px;
}

.triContain div{
	display: inline-block;
	margin-right: 4px;
	background-color: white;
	color:black;
	padding: 2px;
	border-radius: 3px
}

#bottomMenuUL{
	position: absolute;
	left:0px;
	width: 100%;
}

.bottomMenuLI{
	position: relative;
	width: 100%;
	text-align: left;
	color: white;
	list-style-type: none;
	height: 60px;
	top:-15px;
	left:-41px;
	background-color: rgba(0,0,0,0.7);
	display: inline-block;
	font-size: 20px;
	margin: 1px;
	overflow: hidden;
	z-index: 999;
}

.liText{
	position: absolute;
	line-height: 60px;
	margin-left: 20px;
	text-transform: capitalize;
}

.slider-wrapper{
	width: 100px!important;
	position: absolute;
	top:30px;
	right:20px;
}
.range-bar{
	position: absolute;
	width: 100px!important;
}
.range-handle{
	width: 30px!important;
	height: 30px!important;
}
.range-quantity{
	background-color: white!important;
}






#elPanelDragger{
	position: absolute;
	color:white;
	left: 3px;
	bottom: 134px;
	background-color: rgba(0,0,0,0.5);
	z-index: 999;
	padding: 4px;
	border-radius: 3px;
	display: none;
}
#elPanelCloser{
	position: fixed;
	color:white;
	right: 3px;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	padding: 4px;
	border-radius: 3px;
}


.liSelected{
	background-color: teal!important;
}


#elPanel::-webkit-scrollbar-track {
    display: none;
}
#elPanel::-webkit-scrollbar-thumb {
    display: none;
}

#elPanel::-webkit-scrollbar {
    display: none;
}

#elPanel{
	position: absolute;
	left:0;
	bottom:0;
	width: 100%;
	height: 161px;
	background-color: rgba(0,0,0,0.5);
	-webkit-backdrop-filter: blur(5px);
	overflow: scroll;
	display: none;
	-webkit-overflow-scrolling: touch;
}
#accordion {
	position: relative;
	top:-15px;
    list-style: none;
    padding: 0 0 0 0;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}
#accordion div {
    display: block;
    font-weight: bold;
    margin: 1px;
    padding: 10 5 10 5px;
    list-style: circle;
    color:white;
    background-color: rgba(255,255,255,0.2);
}
#accordion ul {
    list-style: none;
    padding: 0 0 0 0;
}
#accordion ul{
    display: none;
}

#accordion ul li {
    background-color: rgba(255,255,255,0.1);
}
.accordionInner {
	color:white;
}
.accordionInner ul li{
	margin: 1px;
	padding: 5 5 5 5px;
	background-color: rgba(255,255,255,0.1);
}
