html{
	-webkit-user-select: none;
	-webkit-touch-callout: none;

}

#roundMenu{
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: rgba(255,255,255,0.2);
	border-radius:999px;
	border:2px solid white;
	bottom: 90px;
	right:20px;
  	border: 2px solid #00c3ff;
  	background-clip: content-box;
  	padding: 2px;
  	box-shadow: 0 0 0 3px rgba(255,255,255,0.2);
}

#bottomMenu{
	position: absolute;
	width: 100%;
	height: 200px;
	bottom:0;
	left:0;
	background-color: rgba(0,0,0,0.4);
	display: block;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-backdrop-filter: blur(5px);
	z-index: 9;
	-webkit-overflow-scrolling: touch;
	border-top:2px solid #00c3ff;
	border-bottom:2px solid #00c3ff;
}

#bottomMenu::-webkit-scrollbar {
    width: 0px;
    margin-left: 0px;
    border-radius: 0px!important;
    background-color: black!important;
}

.liText{
	position: absolute;
	left:0;
	color:black;
	line-height: 60px;
	text-shadow:0 1px 2px white;
	border-right: 1px solid black;
	background-color: #00c3ff;
	text-transform: capitalize;
	width: 105px;
	text-align: center;
}

.slider-wrapper{
	width: 100px!important;
	position: absolute;
	top:30px;
	right:165px;
}
.range-bar{
	position: absolute;
	width: 100px!important;
}
.range-handle{
	width: 30px!important;
	height: 30px!important;
	background-color: #00c3ff!important;
}
.range-quantity{
	background-color: #00c3ff!important;
}

.incs,.decs{
	position: absolute;
	text-shadow:0 1px 2px white;
	width: 20px;
	height: 20px;
	background-color: #00c3ff;
	border-radius: 999px;
	text-align: center;
	line-height: 20px;
	font-family: Times;
	color:black;
	padding: 1px;
  	border: 2px solid #00c3ff;
  	background-clip: content-box;
}
.incs{
	right: 0;
}
.decs{
	left:0;
}

#bottomMenuUL li{

}

.inputContainer{
	position: absolute;
	top:20px;
	right:50px;
	width: 90.5px;
	height: 60px;
}
.inputContainer2{
	position: absolute;
	top:20px;
	right:160px;
	width: 90.5px;
	height: 60px;
}
@media only screen and (max-device-width: 375px) {
	.slider-wrapper{
		right:155px;
	}
	.inputContainer{
		right:40px;
	}
	.inputContainer2{
		right:150px;
	}
}
.manualInput{
	position: absolute;
	top:6px;
	left:24px;
	height: 14.4px;
	line-height: 14.4px;
	width: 42px;
	text-align: center;
	border:0px solid transparent;
	background-color: #00c3ff;
	border-radius: 0px;
	text-shadow:0 1px 2px white;

}
.inButton{
	position: absolute;
}

.topLabel{
	position: absolute;
	top:-14px;
	right:34px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	color:#a9acb1;
}
.leftLabel{
	top:-14px;
	right:33px;
	position: absolute;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	color:#a9acb1;
}

.openButtons{
	position: absolute;
	top:20px;
	right:60px;
	width: 150px;
	background-color: #00c3ff;
	color:black;
	text-align: center;
	text-shadow:0 1px 2px white;
}

.borderButton{
	position: absolute;
	top:20px;
	right:60px;
	width: 60px;
	background-color: #00c3ff;
	color:black;
	text-align: center;
	text-shadow:0 1px 2px white;
	text-align: center;
}

.triContain{
	position: absolute;
	display: inline-block;
	right:40px;
	top:18px;
}

.triContain div{
	display: inline-block;
	background-color: #00c3ff;
	color:black;
	padding-left: 10px;
	padding-right: 10px;
	border-right:1px solid black;
}

#editDragger{
	position: absolute;
	color:white;
	left: 0;
	bottom: 177px;
	background-color: rgba(0,0,0,1);
	padding: 4px;
	display: none;
	z-index: 10;
}

/*#bottomMenu::-webkit-scrollbar-track {
    background-color: transparent;
}*/
#bottomMenu::-webkit-scrollbar-thumb {
   /* background-color: transparent;
    -webkit-background-clip: padding-box;*/
       border-radius: 0px!important;
    background-color: black;
}

#bottomMenu::-webkit-scrollbar {
    width: 0px;
    margin-left: 0px;
    border-radius: 0px!important;
    background-color: black;
}


#bottomMenuUL{
	position: absolute;
	left:0px;
	width: 100%;
}

.bottomMenuLI{
	position: relative;
	width: 100%;
	text-align: left;
	color: white;
	list-style-type: none;
	height: 60px;
	top:-15px;
	left:-41px;
	background-color: rgba(0,0,0,0.7);
	display: inline-block;
	font-size: 20px;
	margin: 1px;
	overflow: hidden;
	z-index: 999;
}







#elPanelDragger{
	position: absolute;
	color:white;
	left: 3px;
	bottom: 134px;
	background-color: rgba(0,0,0,0.5);
	z-index: 999;
	padding: 4px;
	border-radius: 3px;
	display: none;
}

#elPanelCloser{
	position: fixed;
	color:white;
	right: 3px;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	padding: 4px;
	border-radius: 3px;
}


.liSelected{
	background-color: #00c3ff!important;
}
::-webkit-scrollbar-thumb {
    background-color: #00c3ff!important;
}

#elPanel::-webkit-scrollbar-track {
    display: none;
}
#elPanel::-webkit-scrollbar-thumb {
    display: none;
}

#elPanel::-webkit-scrollbar {
    display: none;
}

#elPanel{
	position: absolute;
	left:0;
	bottom:0;
	width: 100%;
	height: 161px;
	background-color: rgba(0,0,0,0.5);
	-webkit-backdrop-filter: blur(5px);
	overflow: scroll;
	display: none;
	-webkit-overflow-scrolling: touch;
	border-top:2px solid #00c3ff;
	border-bottom:2px solid #00c3ff;
}
#accordion {
	position: relative;
	top:-15px;
    list-style: none;
    padding: 0 0 0 0;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    text-shadow:0 1px 2px black;
}
#accordion div {
    display: block;
    font-weight: bold;
    padding: 10 5 10 5px;
    list-style: circle;
    color:white;
    background-color: rgba(0,0,0,0.8);
}

/*First layer*/
#accordion li div{
	background-color: #343434;
/*	border-bottom: 1px solid black; */
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
/*Second Layer*/
#accordion > li > ul > li > div{
	background-color: #4e4e4e;
	color:#00c3ff;
	font-style: italic;
}
/* Third Layer */
#accordion ul li {
    background-color: rgba(0,0,0,0.1);
}

#accordion ul {
    list-style: none;
    padding: 0 0 0 0;
}
#accordion ul{
    display: none;
}
.accordionInner {
	color:white;
}
.accordionInner ul li{
	margin: 1px;
	padding: 5 5 5 5px;
	background-color: rgba(255,255,255,0.1);
}

#externalMenu{
	position: absolute;
	left:0;
	bottom:0;
	width: 100%;
	height: 60px;
	background-color: rgba(0,0,0,0.5);
}

.exInput0,.exInput1,.exInput2{
	position: absolute;
	top:23px;
	width: 80px;
	height: 60px;
}
.exInput0{
	left:20px;
}
.exInput1{
	left:110px;
}
.exInput2{
	left:200px;
}
.exTopLabel{
	color: white;
	margin-top: -20px;
	width: 80px;
	text-align: center;
}
.exColorButton{
	position: absolute;
	top: 22px;
	right:20px;
	width: 100px;
	height: 20px;
	background-color: white;
	border-radius: 3px;
	text-align: center;
}

.exInc,.exDec{
	position: absolute;
	width: 20px;
	height: 20px;
	top:0px;
	background-color: rgba(255,255,255,1);
	border-radius: 999px;
	text-align: center;
	line-height: 20px;
	font-family: Times;
	color:black;
}
.exInc{
	right: 0;
}
.exDec{
	left:0;
}
.exInput{
	position: absolute;
	top:0;
	left:24px;
	width: 30px;
	text-align: center;
	border:0px solid transparent;
	border-radius: 2px;
}

@media only screen and (max-device-width: 375px) {

	.exInput0{
		left:5px;
	}
	.exInput1{
		left:95px;
	}
	.exInput2{
		left:185px;
	}
	.exColorButton{
		right:5px;
	}


}
