html{
    background: url(../../css/bg.jpg) no-repeat center center fixed ;
    background-size: cover;
}
body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}
#refresh{
    position: absolute;
    width: 100%;
    text-align: center;
    top:50%;
    color:white;
    font-size: 30px;
    -webkit-transform: translate(0% -50%);
    transform: translate(0% -50%);
}
.img{
  position: absolute;
  top:13%;
  left:43%;
  -webkit-transform: translate(-50% -50%);
  transform: translate(-50% -50%);
}
.buttons{
  position: absolute;
  top:60%;
  left:50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}
.btn{
    position: relative;
    text-align: center;
    background-color: #21b9b0;
    padding: 10px;
    border-radius: 9999px;
    text-decoration: none;
    color:white;
    font-size: 19px;
    margin-left:10px;
}
.btn:hover{
  background-color: #54606e;
}
#image{
  position:absolute;
  left:0px;
  opacity:0;
}
#animations{
  position: relative;
  margin-left: -180px;
  margin-top:-400px;
  left:50%;
  top:50%;
  -webkit-transform:translate(-50% -50%);
  transform:translate(-50% -50%);
}
#image.ani{
   -webkit-animation: fade 1.5s forwards;
   animation: fade 1.5s forwards;
   -webkit-animation-delay: 2s;
   animation-delay: 2s;
}
svg{
  -webkit-animation: fade-out 1.5s forwards;
  animation: fade-out 1.5s forwards;
   -webkit-animation-delay: 2s;
   animation-delay: 2s;
}

@-webkit-keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1;}
}
@-webkit-keyframes fade-out {
  0%   { opacity: 1; }
  100% { opacity: 0;}
}
@keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1;}
}
@keyframes fade-out {
  0%   { opacity: 1; }
  100% { opacity: 0;}
}

